body{
    background-color: white;
    font-family: system-ui, -apple-system;
    font-size: larger;
    filter: drop-shadow(0 0 0.50rem #9494b1);

    color: #3E3939;
    text-align: center;
}
    a:any-link{
        color: #4B4949;
        text-decoration: none;
        padding-left: 12px;
        padding-right: 12px;
    }
    a:hover{
        font-weight: 500;
        color: #2C2727;
        padding-left: 11px;
        padding-right: 11px;
    }
    a:active{
        filter: drop-shadow(0 0 0.75rem #2C2727);
        padding-left: 11px;
        padding-right: 11px;
    }


#pp{
    padding-bottom: 25px;
}

#title{
    padding-bottom: 2.5px;
    font-weight: 500;
    font-size: xx-large;
    color: #2C2727;
}

#subtitle{
    padding-top: 10px;
    padding-bottom: 2.5px;
    font-weight: 500;
    font-size: x-large;
    color: #2C2727;
}